@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Courgette&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(223, 223, 223);
}

.nav-groovy{
    background-color: rgb(227, 227, 227);
}

nav img{
    margin: 0;
    padding: 0;
    max-width: 150px;
}

nav button{
    background-color: rgb(227, 227, 227);
}
nav button:hover{
    background: none;
    transform: scale(1.15);
}
nav a:hover{
    background-color: #cecece;
    transform: scale(1.05);
    background: none;
}

.carrito-contenedor{
    position: relative;
    display: inline-block;
}
.carrito{
    background: none;
    border: none;
    position: relative;
}
.carrito:hover{
    background: none;
}
#cuenta-carrito{
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}
#pagar-boton{
    margin-top: 15px;
    color:  white;
    background-color: rgb(123, 59, 22);
    border-color: rgb(255, 230, 206);
}
#pagar-boton:hover{
    color: black;
    background-color: rgb(255, 230, 206);
    border-color: rgb(123, 59, 22);
    transform: scale(1.05);
}
.mostrar-carrito{
    position: absolute;
    right: 80px;
    top: 80px;
    width: 400px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    padding: 10px;
    z-index: 2000;
}
.oculto{
    display: none;
}
.eliminar-carrito{
    border:none; 
    background:none; 
    color:red; 
    cursor:pointer; 
    margin-left:10px;
}
.seccion_albumes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

body h1{
    font-family: "Courgette", sans-serif;
    font-size: 4rem ;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

    
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;
}

body h2{
    font-family: "Bad-Script",cursive;
    font-size: 1.5rem ;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    text-shadow: 0px 0px 3px grey;
}

b{
    color: rgb(110, 101, 71);
    text-shadow: 0 0 5px grey;
}

.busqueda{
    text-align: center;
    font-family: "Bad-Script",cursive;
    font-size: 1.5rem;
    margin-left: 200px;
}
.carrito{
    border: none;
}
.busqueda button{
    background-color: rgb(227, 227, 227);
    border: none;
    width: 40px;
    height: 40px;
}
.busqueda input{
    background-color: rgb(246, 246, 246);
    color: rgb(110, 101, 71);
}
.busqueda input:hover{
    background-color: #fff;
    color: black;
}
h3{
    padding: 20px;
    font-family: "Bad-Script",cursive;
    font-size: 1rem;
    margin-bottom: 100px;
}
.sel_categoria{
    
    display:  flex;
    justify-content: left;
    width: 200px;
    height: 50px;
    
}

.filtrar-genero{
    margin-left: 20px;
    margin-top: 15px;
    color:  white;
    background-color: rgb(123, 59, 22);
    border-color: rgb(255, 230, 206);
}
.filtrar-genero:hover{
    color: black;
    background-color: rgb(255, 230, 206);
    border-color: rgb(123, 59, 22);
    transform: scale(1.05);
}
.seccion_albumes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding: 20px;
    text-align: center;
}
.seccion_albumes img{
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
}
.seccion_albumes img:hover{
    transform: scale(1.05);
}
.agregar_carrito{
    border: none;
    color: rgb(123, 59, 22);
    background: none;
}
.agregar_carrito:hover{
    transform: scale(1.25);
    border: none;
    background-color: none;
    color: rgb(196, 139, 87);
}
.thriller img{
    width: 200px;
    height: 200px;
    border: 8px solid #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#elementos-carrito{
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

footer{
    background-color: rgb(227, 227, 227);
    padding: 30px;
}
legend{
    size: 10px;
}